<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>StartPage</title>
<style>
    table th, table td 
    {
        border: 1px solid skyblue;
    }
</style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th colspan="2">メニュー</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="button" value="HelloWorld" onclick="location.href='/HelloWorld'"/></td>
                <td><input type="button" value="xxx" /></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
